<% include partials/header %>

    <div class="container">
        <h1>Welcome to CoCommute!</h1>
        <hr>
        <h2>Share your commute and help reduce the amount of cars on the road</h2>
        <form action="/map" method="GET" class="extra-padding">
            <button class="button btn-info" type="submit">Get Started</button>
        </form>
    </div>

<% include partials/footer %>