<% include partials/header %>

    <div class="container">
        <h1>Hello and welcome to the Car Sharing App!</h1>
        <hr>
        <button class="button btn-info">Get Started</button>
    </div>

<% include partials/footer %>