<% include partials/header %>

    <div class="container">  
        <h2>Peruse the map to find a friend near you</h2>
        <h3>Your coordinates are <%= usersCoordinates %> </h3>
        <div id="map"></div>
        <footer class="extra-padding">
            <form action="/" method="GET">
                <button class="btn btn-info" type="submit">Take me back Home</button>
            </form>    
        </footer>
    </div> 
    <!-- end of  container -->
<% include partials/leafletScripts %>
<% include partials/footer %>
