<% include partials/header %>

    <div class="container">  
        <h1>Hello and welcome to the Car Sharing App!</h1>
        <h2>Peruse the map to find a friend near you</h2>
        <div id="map"></div>
    </div> 
    <!-- end of giant container -->

<% include partials/footer %>
